<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
</head>

<body>
        <header>
                <nav>

                        <h1> About Page</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint impedit possimus quo repellat
                                nam non aliquid sapiente enim quod assumenda quas velit, asperiores excepturi
                                praesentium quam mollitia. Laudantium eligendi consequuntur veniam sequi laboriosam,
                                recusandae facere tenetur nam hic, animi exercitationem nobis dolor repellendus
                                doloremque alias accusamus ab omnis accusantium nostrum voluptatem praesentium dicta,
                                atque soluta. A, nostrum.</p>

                </nav>
        </header>
</body>

</html>